/* CSS file for navbar13.html */
.navbar13-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .navbar13-navbar-interactive {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .navbar13-image1 {
    height: 3rem;
  }
  .navbar13-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .navbar13-links {
    gap: var(--dl-space-space-twounits);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .navbar13-buttons {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navbar13-action1 {
    display: flex;
    flex-direction: row;
  }
  .navbar13-action2 {
    display: flex;
    flex-direction: row;
  }
  .navbar13-burger-menu {
    display: none;
  }
  .navbar13-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .navbar13-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: var(--dl-space-space-twounits);
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .navbar13-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar13-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .navbar13-logo {
    height: 3rem;
  }
  .navbar13-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar13-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .navbar13-links1 {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar13-buttons1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: row;
  }
  .navbar13-icon-group {
    gap: var(--dl-space-space-twounits);
    display: flex;
  }
  @media(max-width: 767px) {
    .navbar13-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .navbar13-desktop-menu {
      display: none;
    }
    .navbar13-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media(max-width: 479px) {
    .navbar13-navbar-interactive {
      padding: var(--dl-space-space-unit);
      padding-right: 16px;
    }
    .navbar13-mobile-menu {
      padding: var(--dl-space-space-unit);
    }
  }
  