<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/loginForm1.css">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        
        <form action="{{ url_for('login') }}" method="POST">
            <h2>Log in</h2>
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %}
            <div id="alert-msg" class="alert alert-{{ category }}">
              {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
      
          <!-- Login Form -->
            <div class="inputBox">
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    required="required" 
                    autocomplete="username">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input 
                    type="password"     
                    id="password" 
                    name="password" 
                    required="required" 
                    autocomplete="current-password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
              <span>
                <a href="{{url_for('forgot_password')}}">Forget Password<br></a>
              </span>
              
            </div>
            <div class="inputBox">
                <input type="submit" value="Login">
            </div>
            <div class="links2">
            <span>Don't have an account?
              <a href="{{ url_for('register')}}"> Sign Up</a>
            </span>
          </div>
        </form>
        
    </div>
    <script>
        // Remove flash messages after 3 seconds
        setTimeout(function () {
          var alertMsg = document.getElementById("alert-msg");
          if (alertMsg) {
            alertMsg.remove();
          }
        }, 3000);
    </script>
</body>
</html>
