<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge" />-->
    <title>Create an Account.</title>
    <link rel="stylesheet" href="../static/CSS/registrationForm1.css">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
            <form action="{{ url_for('register') }}" method="POST">
              <h2>Register</h2>
                <!-- Flash Messages -->
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %}
                <div id="alert-msg" class="alert alert-{{ category }}">
                {{ message }}
                </div>
                {% endfor %} {% endif %} {% endwith %}
                <!-- Registration Form -->
            <div class="inputBox">
                <input type="username"
                 id="username" 
                 name="username" 
                 required>
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="email" 
                id="email" 
                name="email" required>
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="password" name="password" required>
                <span>Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="confirm_password" name="confirm_password" required>
                <span>Confirm Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="submit"></input>
            </div>
            <div class="links">
                <!-- <a href="{{url_for('forgot_password')}}">Forget Password</a>-->
                 <span>Already have an account? 
                     <a href="{{url_for('login') }}">Login</a>
                 </span>
             </div>
        </form>
    </div>
    <script>
        // Remove flash messages after 3 seconds
        setTimeout(function () {
          var alertMsg = document.getElementById("alert-msg");
          if (alertMsg) {
            alertMsg.remove();
          }
        }, 3000);
      </script>
</body>
</html>
