<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Incident Responses</title>
    <link rel="stylesheet" href="../static/response.css" />
    <link rel="stylesheet" href="../static/modal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="blurSection">
      <header>
        <h1 id="title">Incident Responses</h1>
      </header>
      <main>
        <section class="articles" id="incident-cards">
          <!-- Cards will be generated here dynamically -->
        </section>
      </main>
    </div>

    <!-- Modal Structure -->
    <div id="modal" class="container">
      <div class="wrapper">
        <div class="login form">
          <header>Response</header>

          <!-- Flash Messages -->
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div id="alert-msg" class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %}

          <!-- Response Form -->
          <form
            id="responseForm"
            action="{{ url_for('submit_response') }}"
            method="POST"
          >
            <input type="hidden" name="incident_id" id="incident-id" />
            <input
              name="response"
              id="responseInput"
              placeholder="Your Response"
              required
            />
            <div class="btn-div">
              <input
                id="cancelBtn"
                type="button"
                class="button openBtn"
                value="Cancel"
              />
              <input
                id="submitBtn"
                type="submit"
                class="button closeBtn"
                value="Submit"
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="../static/JS/dynamicCard.js"></script>
    <script src="../static/JS/modal.js"></script>
  </body>
</html>
